# Visual Studio 임시 파일
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 빌드 결과
Debug/
Release/
x64/
bin/
obj/

# NuGet 패키지
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Rider, VSCode, 기타 편집기
.idea/
.vscode/

# 로그/캐시/OS 파일
*.log
*.DS_Store
*.Thumbs.db

# 기타 자동 생성 파일
*.ilk
*.pdb
*.idb
*.ipch
